# Ignore Frontend dependencies
image-classifier/node_modules/
image-classifier/dist/
image-classifier/.env

# Ignore Backend dependencies
video-classifier-backend/venv/
video-classifier-backend/__pycache__/
video-classifier-backend/.env